body {
    background-color: black;
    background-image: url(dawn-bkg.jpg);
    background-size: cover;
    background-position: center 80%;
    background-attachment: fixed;
    color: white;
    padding-bottom: 200px;
    margin: 0px;
}

h1 {
    text-align: center;
    color: yellow;
    font-size: 40pt;
    text-shadow: 0 0 25px yellow;
    margin-bottom: 30px;
    margin-top: 0px;
}

h2 {
    text-align:center;
    min-width: 40%;
    width: fit-content;
    margin: 1em auto;
    background: rgba(0,0,0,0.3);
    padding: 0.25em 1em;
    white-space: nowrap;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
    border-radius: 30px;
}

p,ul,table,pre {
    margin: auto ;
    background: rgba(0,0,0,0.6);
}

p,pre {
    padding: 0.5em;
    width: 80%;
}

ul {
    width: 50%;
    padding: 1em;
    padding-left: 2em;
}

a {
    color: #ccf;
}

table {
    width: 100%;
}

td {
    border: 1px solid #ddd;
    white-space: nowrap;
    padding: 1px 4px;
}

.small {
    font-size: smaller;
}

.header {
    width: 100%;
    background: black;
    padding-top: .5em;
    padding-bottom: 4em;
    padding: .5em;
    background: linear-gradient(to bottom,
                                rgba(20,0,20,1) 0%,
                                rgba(90,15,50,0.8) 60%,
                                rgba(90,15,50,0) 100%);
}
.header a {
    width: 23%;
    text-decoration: none;
    text-align:center;
    display: inline-block;
    color: #aee;
    font-weight: bold;
    padding-bottom: 1em;
}