name: autogen

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: dspeyer/secularsolstice:autobuild

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Remove security error for git checkout as root
      run: git config --global --add safe.directory '*'

    - name: checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 10

    - name: Set dates based on commit, so make will work
      run: ./scripts/fixdates.sh 

    - name: Do the build
      run: make all
        
    - name: Commit files
      run: |
        pwd
        ls -a
        echo ${{ github.ref }}
        git add .
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "ci: Automated build push" -a | exit 0
        
    - name: Push changes
      if: github.ref == 'refs/heads/master'
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
